<div class="homePg-header">
  <div class="homePg-header_width1">
    <img src="images/logo.png" alt="logo"/>
  </div>
  <div class="homePg-header_width2">
    <p></p>
  </div>
  <div class="homePg-header_width3">
      <p>Hello {{user.name}}</p>
      <a href="" ng-click="logout()">Logout</a>
  </div>
</div>
<div class="mainContent">
  <div class="welcomeContent">
    <p>{{txt}}</p>
  </div>
  <div class="content">
    <article class="topContent">
      <header>
        <h2>Send Messages</h2>
      </header>
      <content>
        <form>
          <div class="form-input-select">
          <p>Code:
            <select ng-model="eMsg.code" required>
              <option value="">--SELECT--</option>
              <option value="RED">RED</option>
              <option value="BLACK">BLACK</option>
              <option value="PURPLE">PURPLE</option>
              <option value="WHITE">WHITE</option>
              <option value="BROWN">BROWN</option>
              <option value="GREY">GREY</option>
              <option value="ORANGE">ORANGE</option>
              <option value="BLUE">BLUE</option>
              <option value="GREEN">GREEN</option>
              <option value="YELLOW">YELLOW</option>
            </select>
          </p>
          <p>To:
            <select ng-model="eMsg.toContactNo" required>
              <option value="">--SELECT--</option>
              <option value="ALL">ALL</option>
              <option value="+17789294947">Shabnam</option>
              <option value="+17786013082">Berenice</option>
            </select>
          </p>
          </div>
          <div class="form-input-textarea">
            <textarea placeholder="Type Message here" rows="4" cols="50" ng-model="eMsg.msgtxt" required></textarea>
          </div>
          <button class="homePg-btn" type="submit" ng-click="sendMessage(eMsg)" ng-disabled="form1.$invalid">Send</button>
          <p class="HomePg-p">{{status}}</p>
        </form>
          <!--<p>{{eMsg}}</p>-->
      </content>
    </article>
  </div>
<div class="content">
    <article class="topContent">
      <header>
        <h2>Receive Messages</h2>
      </header>
      <content>
        <form>
          <div class="form-input-select">
            <p>Date:
              <input type="date" value="{{ today | date: 'yyyy-MM-dd' }}" ng-model="today"/>
            </p>
            <p>From:
            <select ng-model="eMsg.fromContactNo" required>
              <option value="">--SELECT--</option>
              <option value="ALL">ALL</option>
              <option value="+17789294947">Shabnam</option>
              <option value="+17786013082">Berenice</option>
            </select>
          </p>
          </div>
          <div class="form-input-textarea">
            <textarea disabled placeholder="Click Refresh Button" rows="4" cols="50" ng-model="messageList" required></textarea>
          </div>
          <button class="homePg-btn" type="submit" ng-click="getMessage(eMsg)" ng-disabled="form1.$invalid">Refresh</button>
        </form>
      </content>
    </article>
  </div>
</div>

<footer class="mainFooter">
  <p>Copyright Code-Care &copy;, 2016</p>
</footer>
